* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  height: 50px;
  background-color: #FF9A4B;
}

main {
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.flow-item {
  width: 300px;
  background-color: #EEEEEE;
  margin-right: 30px;
  position: relative;
  padding: 10px;
}

.flow-item:last-child {
  margin-right: 0;
}

h3 {
  margin: 15px 0 5px;
}

.hand {
  background-image: url(img/flow01.png);
  background-position: bottom;
  background-size: cover;
  height: 150px;
}

.desk {
  background-image: url(img/flow02.png);
  background-position: bottom;
  background-size: cover;
  height: 150px;
}

.people {
  background-image: url(img/flow03.png);
  background-position: bottom;
  background-size: cover;
  height: 150px;
}

.step {
  background-color: #FF9A4B;
  color: #FFFFFF;
  position: absolute;
  top: 0;
  left: 0;
}


footer {
  height: 50px;
  background-color: #AAAAAA;
}

@media screen and (max-width: 768px) {
  main {
    width: 100%;
    display: block;
  }

  .flow-item {
    width: 90%;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
  }

  .flow-item:last-child {
    margin-bottom: 0;
    margin-right: auto;
  }
}